.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px -1px rgba(189, 189, 189, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.form--add {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: steelblue;
  border: none;
  cursor: pointer;
}
